{% extends "base.html" %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false"><title> </title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"> </text></svg>

        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Entraineurs</h1>
            <p>Nos jedi sont des pratiquants de l'art depuis toujours.</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
        </div>
    </div>
</div>
<div class="carousel-item">
    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false"><title> </title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"> </text></svg>

    <div class="container">
      <div class="carousel-caption">
        <h1>Pour toutes les catégories</h1>
        <p>Horaire varié du mardi au samedi, selon ta disponibilité</p>
        <p><a class="btn btn-lg btn-primary" href="course">Voirs les cours</a></p>
    </div>
</div>
</div>
<div class="carousel-item">
    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false"><title> </title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"> </text></svg>

    <div class="container">
      <div class="carousel-caption text-right">
        <h1>Rejoins-nous !</h1>
        <p>L'association t'acceuillera avec <strike>un grand coup de poing</strike> joie. On n'attend plus que toi.</p>
        <p><a class="btn btn-lg btn-primary" href="register">Je m'inscris</a></p>
    </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>UM Yana Ruben</h2>
        <p class="xp">Pratique le muay thaï depuis le milieu des années 90. Son premier club le Casal 19, avec Richard Bonal pour entraineur. Ensuite il s'entraine avec le légendaire Dany Bill avec lequel il devient Champion de France FMDA 2007-2008 classe B</p>
        <ul style="text-align: left">
            <li>Diplomé fédéral FMDA</li>
            <li>né le 13 avril 1979</li>
            <li>15 combats</li>
        </ul>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Thierry</h2>
        <p class="xp">A commencé au Casal avec des champions tel que Pascal Benmati et Mohamed Bourkis.</p>
        <ul style="text-align: justify;">
            <li>30 ans de pratique</li>
            <li>Vrai passionné et puriste</li>
        </ul>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Herbert WOMALEN</h2>
        <p>Ancien champion, toujours en activité</p>
        <ul style="text-align: left;">
            <li>3 fois Champion du Cameroun en Kick Boxing</li>
            <li>Champion de France Muay Thaï 2008-2009 classe A</li>
            <li>Champion du monde K1 WBKC 2007</li>
            <li>Champion du monde K1 ISKA 2017</li>
            <li>86 combats</li>
            <li>né le 18 Septembre 1982</li>
        </ul>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div>
</div>
</div>
{% endblock %}
