{% extends "base.html" %}
{% load static %}

{% block content %}
<main id="home" role="main" class="flex-shrink-0">
    <div class="container" style="color: white; text-shadow: 2px 2px 2px black;">
        <h1>Muay Thaï</h1>
        <p class="lead" style="font-size: 1.5em;">Le muay thaï ou boxe est un art martial. C'est la boxe la plus complète, car alliant des techniques de poings, coudes, jambes, genoux et corps à corps.</p>
        <p class="lead" style="font-size: 1.5em;">C'est effectivement la boxe la plus populaire d'Asie du Sud Est. <br>
          Elle tire son origine de pratiques martiales ancestrales, notamment le muay boran, et le krabi krabong. <br>
          Ses origines exactes sont incertaines, mais le muay thaï dans sa forme originelle est fondé à des fins martiales, militaires.<br>
      Le Muay thaï fût popularisé au XVème siècle par les 2 fils du roi Sur Muang Ma, et fut appliqué "sur le terrain" par le royaume du Siam (Thaïlande actuelle) notamment face aux envahisseurs birmans.</p>
    </div>

</main>
{% endblock %}
